<nav class="nav nav-pills nav-custom-pill flex-column flex-sm-row">
    <a class="flex-sm-fill text-sm-center nav-link" routerLinkActive="active" routerLink="lane1" (click)="navigate1()">Lane 1</a>
    <a class="flex-sm-fill text-sm-center nav-link" routerLinkActive="active" routerLink="lane2" (click)="navigate2()">Lane 2</a>
  </nav>
<router-outlet></router-outlet>
<!-- <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCuBPzhpVsbuMs1SztPfr3Z4v2Qs1ZFQTk&callback=initMap&libraries=&v=weekly"
    async></script> -->
